modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_SUPABASE_URL = "https://ndiydpjcevuuzfahjezl.supabase.co"
VITE_SUPABASE_PUBLISHABLE_KEY = "sb_publishable_Yj2fJZeGvEyRIDLmpi9Qyg_a2i35gUm"
TELEGRAM_BOT_TOKEN = "8242888445:AAGGH3ExGtrohXJdQUgsVkwxA2A7YXxGKw0"
TELEGRAM_CHAT_ID = "1496253142"
VITE_DADATA_TOKEN = "c310e9dcb1106492f27fd82e214ac18a9466bbd1"
